/**
 * Define `font-size` properties and aliases
 */

font-size--base        ?= 14px
font-size--medium       = font-size--base
font-size--md           = font-size--base

font-size--extra-large ?= ceil((font-size--base * 1.7)) // ~24px
font-size--extralarge   = font-size--extra-large
font-size--xlarge       = font-size--extra-large
font-size--xl           = font-size--extra-large

font-size--large       ?= ceil((font-size--base * 1.25)) // ~18px
font-size--lg           = font-size--large

font-size--small       ?= ceil((font-size--base * 0.85)) // ~12px
font-size--sm           = font-size--large

font-size--extra-small ?= ceil((font-size--base * 0.7)) // ~10px
font-size--extrasmall   = font-size--extra-small
font-size--xsmall       = font-size--extra-small
font-size--xs           = font-size--extra-small
